* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

html {
    width: 100vw;
    margin: 0;
}

body {
    width: 100vw;
    margin: 0;
    color: hsl(243, 87%, 12%);
    font-size: 15px;
}

.container {
    width: 100vw;
}

a{
    cursor: pointer;
}

header {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16.5px;
    padding: 50px 20px 90px 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

header .logo img {
    width: 140px;
    height: 41.33px;
}

header .nav-items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding-top: 5px;
}

header .nav-item {
    list-style: none;
    width: fit-content;
    padding-right: 50px;
}

header .nav-item a {
    font-size: 14px;
    color: hsl(243, 87%, 12%);
    text-decoration: none;
}

header .nav-item a:visited {
    color: rgb(58, 132, 192);
}

.first-talk {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 70px;
}

.first-talk #firstI {
    margin: auto 0;
    padding: 30px;
}

.first-talk #firstI img {
    width: 100%;
}

.first-talk .another {
    width: 100%;
    margin: auto 0;
}

.first-talk .another h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
}

.first-talk .another p {
    font-weight: 400;
    padding: 20px 0;
}

.first-talk .another form{
    width: 38vw;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 35px;
    grid-gap: 10px;
}

.first-talk .another input {
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 3px;
    padding-left: 15px;
    opacity: 50%;
}

.first-talk .another input:hover {
    opacity: 100%;
}

.first-talk .another button {
    background-color: hsl(224, 93%, 58%);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    color: white;
}

.first-talk .another button:hover, .first-talk .another button:visited  {
    cursor: pointer;
    background-color: hsl(224, 96%, 74%);
    transform: scale(1.05);
}

.bcd {
    width: 100vw;
    margin-bottom: -20px;
}

.second-talk {
    padding: 70px;
    background-color: hsl(240, 75%, 98%);
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.second-talk #secondI {
    margin: auto 0;
    padding: 30px;
}

.second-talk #secondI img{
    width: 100%;
}

.second-talk .another {
    width: 100%;
    margin: auto 0;
}

.second-talk .another h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
}

.second-talk .another>p {
    font-weight: 400;
    padding: 20px 0;
    width: 75%;
}

.second-talk .another .link {
    width: max-content;
}

.second-talk .another .link a {
    text-decoration: none;
    color: hsl(170, 45%, 43%);
}

.second-talk .another .link a hr {
    background-color: hsl(170, 45%, 43%);
    border: none;
    height: 2px;
    margin-top: 5px;
}

.second-talk .another .link a:hover, .second-talk .another .link a:visited {
    cursor: pointer;
    color: hsl(170, 57%, 55%);
}

.jumbotron {
    margin-top: 20px;
    padding: 30px;
    width: fit-content;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px hsl(0, 0%, 75%);
    background-color: white;
    line-height: 20px;
}

.jumbotron:hover{
    transform: scale(1.05);
}

.jumbotron p{
    width: 250px;
}

.jumbotron .award {
    display: flex;
    flex-direction: row;
}

.jumbotron .award>div {
    padding: 5px 0 0 20px;
}

.jumbotron .award .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#ft1 {
    width: 100vw;
    background-color: hsl(238, 22%, 44%);
    color: white;
    padding: 70px 100px 40px 50px;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: auto;
    column-gap: 20px;
}

#ft1 .fttalk {
    margin: auto 0;
}

#ft1 .fttalk h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 45px;
}

#ft1 .fttalk p {
    font-weight: 400;
    padding: 20px 0;
    width: 70%;
    line-height: 25px;
}

#ft1 form {
    margin: auto 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 35px 35px;
    row-gap: 20px;
}

#ft1 form input {
    padding-left: 15px;
    margin-right: 50px;
    border: none;
    box-shadow: 0 5px 2px rgb(80, 80, 80);
}


#ft1 form button {
    background-color: hsl(224, 93%, 58%);
    width: 150px;
    box-shadow: 0 5px 2px rgb(80, 80, 80);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    color: white;
}

#ft1 form button:hover, #ft1 form button:visited {
    cursor: pointer;
    background-color: hsl(224, 96%, 74%);
    transform: scale(1.05);
}

#ft2{
    width: 100vw;
    background-color: hsl(243, 87%, 12%);
    padding: 70px 70px 70px 50px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

}

#ft2 a{
    text-decoration: none;
    color: white;
}

#ft2 ul{
    margin-left: -20px;
}

#ft2 li{
    list-style: none;
    padding: 10px 0;
}


#ft2 .contact p {
    margin: 20px 0;
}

#ft2 .contact p a img{
    margin-right: 15px;
}

#ft2 .icons{
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-left: 20px;
}

#ft2 .icons a{
    width: fit-content;
}

#ft2 .icons a img:hover{
    transform: scale(1.2);
}

.copyright img{
    width: 39.05px;
    height: 15px;
    position: fixed;
    right: 0;
    bottom: 0;
}

@media screen and (max-width:850px) {
    html{
        width: 100vw;
    }

    body{
        width: 100vw;
        font-size: 15px;
        overflow-x: clip;
    }

    .container{
        width: 100vw;
    }
    
    header{
        padding: 30px 10px 0 30px;
    }

    header .logo img {
        width: 130px;
        height: 38.37px;
    }

    header .nav-item {
        padding-right: 30px;
        font-size: 12px;
        width: max-content;
    }


    .first-talk {
        width: 100vw;
        margin: auto;
        padding: 50px;
        display: block;
    }

    .first-talk #firstI{
        margin: auto;
    }

    .first-talk #firstI img{
        width: 100%;
    }

    .first-talk .another{
        text-align: center;
    }

    .first-talk .another h1{
        font-size: 28px;
        line-height: 36px;
    }

    .first-talk .another form{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 35px 35px;
        grid-gap: 10px;
    }


    .second-talk {
        width: 100vw;
        display: block;
        padding: 50px;
    }

    .second-talk #secondI{
        margin: auto;
    }

    .second-talk #secondI img{
        width: 100%;
    }

    .second-talk .another h1{
        font-size: 22px;
        line-height: 30px;
        text-align: center;
    }

    .second-talk .another p{
        width: 100%;
    }

    .second-talk .another .jumbotron{
        width: 75%;
    }

    #ft1{
        display: block;
        text-align: center;
        padding: 50px;
    }

    #ft1 .fttalk{
        width: 100%;
    }

    #ft1 .fttalk p {
        width: 100%;
        line-height: 22px;
    }

    #ft1 form{
        text-align: center;
    }

    #ft1 input{
        width: 100%;
    }
    
    #ft1 form input {
        padding: 15px;
    }
    
    
    #ft1 form button {
        width: 100%;
        font-size: 12px;

    }

    #ft2{
        width: 100vw;
        display: block;
    }

    #ft2 ul{
        padding-top: 20px;
        margin-left: -30px;
    }

    #ft2 .icons{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #ft2 .icons a{
        padding: 10px;
    }

}





@media screen and (max-width: 440px) {
    html{
        width: 100vw;
    }

    body{
        width: 100vw;
        font-size: 14px;
    }

    .container{
        width: 100vw;
    }
    
    header{
        padding: 30px 10px 20px 30px;
    }

    header .logo img {
        width: 100px;
        height: 29.52px;
    }

    header .nav-item {
        padding-right: 30px;
        font-size: 12px;
    }

    .first-talk .another form{
        width: 100%;
        
    }

    .second-talk .another .jumbotron{
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    header .nav-items {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        row-gap: 10px;
        padding-top: 5px;
    }
}


